:root {
    --primary-text: white;
    --mau-den: black;
    --mau-cam: #ff9900;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
}

.opacity-06 {
    opacity: 0.6;
}

.font-weight-bold {
    font-weight: bold;
}

h3 a {
    text-decoration: none;
    color: var(--mau-den);
}

nav input,
nav label {
    display: none;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem 0 0;
    border-radius: 6px;
}

header {
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--primary-text);
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--mau-den);
    min-width: 107px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 2.3rem;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

.dropdown-content a:hover {
    background-color: var(--primary-text);
}

#label-list>label {
    background: white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

#label-list {
    margin-bottom: 40px;
}

#logo {
    font-weight: bold;
    float: left;
    margin: 20px 48px;
    font-size: 32px;
}

nav {
    float: right;
    margin-top: 12px;
    margin-right: 40px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: contents;
}

nav ul li a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 16px;
    padding: 16px;
}

nav ul li a:hover {
    background-color: var(--primary-text);
    color: var(--mau-den);
    border-radius: 6px;
}

.active {
    background-color: var(--primary-text);
    color: var(--mau-den);
    border-radius: 6px;
}

#main-header {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

#main-header .Read-more {
    border: 2px solid var(--primary-text);
    border-radius: 4px;
    padding: 12px 8px;
    cursor: pointer;
}

#main-header p {
    margin-bottom: 70px;
    letter-spacing: 1px;
}

#label-list {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, 0%);
    margin-bottom: 0;
}


/*section welcome*/

#welcome {
    text-align: center;
    margin: 0 20vh;
    padding-top: 6rem;
}

#welcome img {
    width: 100%;
}

#welcome p {
    opacity: 0.6;
    margin: 50px 10%;
    text-align: center;
}


/* what we do*/

#what-we-do {
    text-align: center;
    padding: 0 15vh;
    margin: 140px 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-items {
    flex: 25%;
    padding: 16px 20px 32px 0;
}

.flex-items img {
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
}

.flex-items img:hover {
    transform: rotateY(180deg);
}

.flex-items p {
    opacity: 0.6;
}

.flex-items h3 {
    text-transform: capitalize;
}


/*statistics*/

#statistics {
    text-align: center;
    background-image: url(./img/bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--primary-text);
    padding: 50px;
}

.flex-items .opacity-1 {
    opacity: 1;
    margin: 0;
}

.flex-items .big-number {
    font-size: 66px;
    margin: 0;
    padding-bottom: -10px;
}

.statistics-margin-left-right {
    margin: 0 70px;
}


/* pet services
*/

#services {
    padding: 100px 20vh;
    display: flex;
    background-color: #f0f3fe;
}

#services p {
    opacity: 0.6;
    line-height: 2.5;
}

#services .left {
    flex: 50%;
}

#services .services-left {
    flex-basis: 15%;
    margin-right: 100px;
}

.flex-item-services {
    flex: 45%;
    margin: 0px 8px 16px 8px;
    text-align: center;
    padding: 0 40px;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    transition: all 0.5s ease-in-out 0s;
    box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 10%);
}

.flex-item-services:hover {
    background: var(--mau-cam);
}

.icon {
    color: var(--mau-cam);
    font-size: 3em;
    margin-top: 20px;
}

#services h3 {
    font-size: 32px;
    font-weight: 400;
}


/*testimonials*/

#testimonials {
    text-align: center;
    background-image: url(./img/bg.jpg);
    color: var(--primary-text);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 45px;
}

#testimonials .flex-container-testimonials {
    display: flex;
    margin: 0 150px;
    justify-content: space-around;
}

.flex-items-testimonials {
    width: 28%;
    justify-content: flex-end;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

#testimonials .flex-items-testimonials img {
    border-radius: 50%;
    padding: 16px;
    margin: auto;
}

#testimonials .flex-items-testimonials p {
    line-height: 1.9;
}

#testimonials .flex-items-testimonials h3 {
    text-align: center;
    color: var(--mau-cam);
}


/*blog*/

#our-blog {
    padding: 100px;
}

.flex-container-blog {
    display: flex;
    justify-content: space-around;
}

.flex-items-blog {
    border: 1px solid #c4c4c4;
    width: 30%;
    border-radius: 6px;
}

#our-blog .flex-container-blog img {
    width: 100%;
    border-radius: 6px;
}

.mau-cam {
    text-decoration: none;
    color: var(--mau-cam);
    font-weight: 100;
}

.flex-items-con-items,
.flex-items-blog div {
    padding: 0px 10px 12px 16px;
}


/*map*/

#map {
    margin: 0;
}


/*contact*/

#contact-us {
    padding: 40px 120px;
}

#contact-us h3 {
    font-size: 32px;
    margin: 0 0 16px 0;
}

.flex-container-contact {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
}

.flex-items-contact {
    flex: 50%;
    padding: 0 20px;
}

.right {
    width: 50%;
    padding: 2em;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 16px;
    border: 1px solid #c6c6c6;
}

.form-email {
    width: 100%;
    height: 180px;
    border: 1px solid #c6c6c6;
    padding: 16px;
}

.btn {
    padding: 12px;
    background-color: var(--mau-cam);
}

.btn--big {
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    border: 0px;
}

.contact-info {
    display: flex;
    margin-bottom: 20px;
    margin: 0px;
}

.contact-info .contact-icon {
    width: 15%;
    font-size: 30px;
}

.contact-info .contact-text {
    font-size: 20px;
    margin-top: -20px;
}


/*footer*/

footer {
    padding: 30px;
    background-color: #17181b;
}

.footer-row {
    display: flex;
    justify-content: center;
}

.footer-row .footer-item {
    width: 23%;
    padding: 0 20px;
    overflow: hidden;
}

.footer-item h4,
.footer-item h3 {
    color: var(--primary-text);
}

.footer-item p {
    color: #727377;
}

.footer-item .mailbox {
    padding: 16px;
}

.footer-item .email-btn {
    padding: 16px;
    color: white;
    background-color: var(--mau-cam);
}

.footer-item .social-mds {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.footer-item .social-md-item {
    padding: 2px 12px;
    background: white;
    margin: 0 12px 0 0;
}

.social-md-item a {
    color: blue;
}

.footer-item .ft-title p {
    color: white;
    font-size: 20px;
}


/*media 992px*/

@media only screen and (max-width: 1024px) {
    .flex-items {
        flex: 50%;
    }
    #services {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
    }
    #services .services-left {
        margin-right: 2rem;
    }
    .services-left h2 {
        font-size: 40px;
    }
    .services-right {
        padding-top: 4rem;
    }
    #testimonials .flex-container-testimonials {
        margin: 0;
    }
    #our-blog {
        padding: 6rem 0;
    }
    #contact-us {
        padding: 6rem 0 0 0;
    }
    .flex-container-contact {
        margin: 1rem 3rem;
    }
    .footer-row .footer-item {
        padding: 0;
    }
    .footer-row {
        justify-content: space-around;
    }
    .footer-row .footer-item {
        width: 16%;
    }
    .footer-row .footer-item:last-child {
        width: 35%;
    }
    nav label {
        display: block !important;
    }
    nav label:hover {
        background-color: var(--primary-text);
        color: var(--mau-den);
    }
    nav ul {
        display: none;
    }
    nav input[type="checkbox"]:checked~ul {
        display: grid;
        padding-left: 0;
    }
    nav>ul {
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        z-index: 1;
    }
}


/*576*/

@media only screen and (max-width: 576px) {
    #main-header {
        width: 80vh;
    }
    #main-header h1 {
        font-size: 1.3rem;
    }
    #welcome {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #what-we-do {
        padding-left: 5vh;
        padding-right: 5vh;
        margin-bottom: 1rem;
    }
    .flex-items {
        flex: 100%;
    }
    #services {
        display: inline-block;
        padding-bottom: 2rem;
    }
    .flex-item-services {
        flex: 100%;
    }
    #services h3 {
        margin: 0.5rem;
    }
    #services p {
        margin: 0.5rem 0 1.5rem 0;
    }
    #our-blog {
        padding-bottom: 2rem;
    }
    .flex-container-testimonials {
        flex-wrap: wrap;
    }
    .flex-items-testimonials {
        flex: 100%;
        display: inline-block;
    }
    .flex-container-blog {
        flex-wrap: wrap;
    }
    .flex-items-blog {
        width: 100%;
        margin: 1rem 3rem;
    }
    .flex-container-contact {
        flex-wrap: wrap;
        margin: 0;
    }
    .flex-items-contact {
        flex: 100%;
    }
    .right {
        margin: 1rem;
    }
    .footer-row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer-row .footer-item {
        width: 45%;
    }
    .footer-row .footer-item:last-child {
        width: 90%;
    }
}